* {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./assets/fundoDoProjeto.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100vh;
    color: black;
}

.header {
    color: white;
    position: absolute;
    top: 0;
    left: 45px;
    height: 10vh;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
}

.box1, .box2, .box3, .box4, .box5 {
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 0 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    background-color: rgba(102, 211, 209);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35px;
    transition: 0.5s;
    -webkit-text-stroke-width: 1.0px;
    -webkit-text-stroke-color: black;
}

.box5:hover  {
    background-color: rgba(102, 211, 209);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 35px;
    transition: 0.5s;
    -webkit-text-stroke-width: 1.0px;
    -webkit-text-stroke-color: black;
}

.main {
    text-align: center;
    width: 60vh;
    height: 65vh;
    border-radius: 25px;
    background-color: rgba(102, 211, 209, 0.681);
}

.mainText {
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin-top: 40px;
}

.input1 {
    color: white;
    background-color: #28AF25;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    border-radius: 30px;
    font-size: 35px;
    padding: 5px 95px;
    position: relative;
    top: 65px;
    border-color: transparent;
}

.input2 {
    color: white;
    background-color: #28AF25;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    border-radius: 30px;
    font-size: 35px;
    padding: 5px 42px;
    position: relative;
    top: 100px;
    border-color: transparent;
}

.input1:hover, .input2:hover {
    background-color: #31e42e;
    transition: 1.0s;
}

.footer {
    position: absolute;
    bottom: 30px;
    height: 10vh;
    width: 98.8vw;
    display: flex;
    justify-content: center;
}

.rodape {
    background-color: rgba(67, 65, 65, 0.755);
    color: white;
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    padding: 0 50px;
    border-radius: 35px;
}
